@using AtomicChessPuzzles.Models;
@inject AtomicChessPuzzles.Services.IPersistentLoginHandler LoginHandler

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    @if (IsSectionDefined("Description"))
    {
        @:<meta name="description" content="@RenderSection("Description")">
    }
    <meta name="keywords" content="atomic-chess,atomic,chess,puzzles,tactics,training,endgames">
    <title>
        @if (IsSectionDefined("Title"))
        {
            @RenderSection("title");@: | Atomic Chess Puzzles
        }
        else
        {
            @:No title | Atomic Chess Puzzles
        }
    </title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="~/styles/topbar.css" rel="stylesheet">
    <link href="~/styles/main.css" rel="stylesheet">
    <script src="~/scripts/main.js" type="text/javascript"></script>
    @if (IsSectionDefined("AddToHead"))
    {
        RenderSection("AddToHead");
    }
</head>
<body>
    <div id="topbar">
        <ul id="topbar-menu">
            <li>@Html.ActionLink("Home", "Index", "Home", null, null)</li>
            <li>@Html.ActionLink("Train", "Train", "Puzzle", null, null)</li>
            @{ User loggedIn = LoginHandler.LoggedInUser(Context); }
            @if (loggedIn != null)
            {
                <li>@Html.ActionLink("Contribute", "Editor", "Puzzle", null, null)</li>
            }
            <li class="right">
                @{ 
                    if (loggedIn == null)
                    {
                        @:@Html.ActionLink("Log in", "Login", "User", null, null)
                    }
                    else
                    {
                        @:<a id="username" href="#">@loggedIn.Username</a><ul id="user-nav-content" class="invisible"><li>@Html.ActionLink("Profile", "Profile", "User", new { name = loggedIn.Username }, null)</li><li>@Html.ActionLink("Log out", "Logout", "User")</li></ul>
                    }
                }
            </li>
            @if (loggedIn != null && UserRole.HasAtLeastThePrivilegesOf(loggedIn.Roles, new string[] { UserRole.COMMENT_MODERATOR, UserRole.PUZZLE_EDITOR }))
            {
                <li class="right">@Html.ActionLink("Reports", "ListAll", "Report")</li>
            }
        </ul>
    </div>
    <div id="bodycontainer">
        @RenderBody()
    </div>
</body>
</html>
