@section Title{Endgame training}
@section Description{A list with won endgame positions. By selecting one, you can train your atomic endgame skills.}
Here you can train endgames! Below is a list with won endgame positions. By choosing one of them, you'll get a position and you'll have to checkmate your opponent or blow up their king. You'll have to do this in 50 moves or less, otherwise it's a draw. Good luck!
<ul>
    <li>@Html.ActionLink("KQQ vs K with adjacent kings", "KQQvsKWithAdjacentKings")</li>
    <li>@Html.ActionLink("KRR vs K with adjacent kings", "KRRvsKWithAdjacentKings")</li>
    <li>@Html.ActionLink("KQ vs K with adjacent kings and a blocked pawn", "KQvsKWithAdjacentKingsAndBlockedPawn")</li>
    <li>@Html.ActionLink("KRN vs K with separated kings", "KRNvsKWithSeparatedKings")</li>
    <li>@Html.ActionLink("KRN vs K with adjacent kings", "KRNvsKWithAdjacentKings")</li>
</ul>
