@model AtomicChessPuzzles.ViewModels.User
@section Title {Profile page of @Model.Username}

<h1>@Model.Username</h1>
About:
<p>
    @Model.About
</p>
<p>
    Puzzles made: @Model.PuzzlesMade<br />
    Percentage correct: @Model.PercentageCorrect %
</p>
<p>
    Role: @Model.Role.ToString()
</p>
<p>
    Rating: @Model.Rating
</p>