@section Title{Endgame training}
@section Description{A list with won endgame positions. By selecting one, you can train your atomic endgame skills.}
Here you can train endgames! Below is a list with won endgame positions. By choosing one of them, you'll get a position and you'll have to checkmate your opponent or blow up their king. You'll have to do this in 50 moves or less, otherwise it's a draw. Good luck!
<ul>
    <li>
        Atomic
        <ul>
            <li>@Html.ActionLink("KQQ vs K with adjacent kings", "AtomicEndgame", new { type = "KQQ-K-Adjacent-Kings" })</li>
            <li>@Html.ActionLink("KRR vs K with adjacent kings", "AtomicEndgame", new { type = "KRR-K-Adjacent-Kings" })</li>
            <li>@Html.ActionLink("KQ vs K with adjacent kings and a blocked pawn", "AtomicEndgame", new { type = "KQ-K-Adjacent-Kings-Blocked-Pawn" })</li>
            <li>@Html.ActionLink("KRN vs K with separated kings", "AtomicEndgame", new { type = "KRN-K-Separated-Kings" })</li>
            <li>@Html.ActionLink("KRN vs K with adjacent kings", "AtomicEndgame", new { type = "KRN-K-Adjacent-Kings" })</li>
            <li>@Html.ActionLink("KRB vs K with separated kings", "AtomicEndgame", new { type = "KRB-K-Separated-Kings" })</li>
            <li>@Html.ActionLink("KRB vs K with adjacent kings", "AtomicEndgame", new { type = "KRB-K-Adjacent-Kings" })</li>


        </ul>
    </li>
    <li>
        Antichess
        <ul>
            <li>@Html.ActionLink("R vs K", "AntichessEndgame", new { type = "R-vs-K" })</li>
            <li>@Html.ActionLink("Q vs K", "AntichessEndgame", new { type = "Q-vs-K" })</li>
            <li>@Html.ActionLink("R vs N", "AntichessEndgame", new { type = "R-vs-N" })</li>
            <li>@Html.ActionLink("B vs N", "AntichessEndgame", new { type = "B-vs-N" })</li>
            <li>@Html.ActionLink("Q vs N", "AntichessEndgame", new { type = "Q-vs-N" })</li>
            <li>@Html.ActionLink("K vs N", "AntichessEndgame", new { type = "K-vs-N" })</li>
        </ul>
    </li>
</ul>
