@using Microsoft.AspNet.Http;
@{
    Layout = null;
}
@model Tuple<System.Collections.ObjectModel.ReadOnlyCollection<AtomicChessPuzzles.ViewModels.Comment>, Dictionary<string, AtomicChessPuzzles.Models.VoteType>, bool>
@if (Model == null || Model.Item1 == null || Model.Item1.Count == 0)
{
    @:No comments found.
}
else
{
    foreach (AtomicChessPuzzles.ViewModels.Comment comment in Model.Item1)
    {
        string upvoteButtonClass = Model.Item2.ContainsKey(comment.ID) && Model.Item2[comment.ID] == AtomicChessPuzzles.Models.VoteType.Upvote ? "upvote-highlighted" : null;
        string downvoteButtonClass = Model.Item2.ContainsKey(comment.ID) && Model.Item2[comment.ID] == AtomicChessPuzzles.Models.VoteType.Downvote ? "downvote-highlighted" : null;
        <div id="@comment.ID" class="comment" data-indentlevel="@comment.IndentLevel">
            <div class="vote-arrows">
                @{
                    bool loggedIn = Context.Session.GetString("userid") != null;
                }
                @if (loggedIn)
                {
                    <a data-vote="up" data-commentid="@comment.ID" href="#" class="@upvoteButtonClass">+1</a>
                }
                else
                {
                    <span>&nbsp;</span>
                }
                <div class="score">@comment.Score</div>
                @if (loggedIn)
                {
                    <a data-vote="down" data-commentid="@comment.ID" href="#" class="@downvoteButtonClass">-1</a>
                }
                else
                {
                    <span>&nbsp;</span>
                }
            </div>
            <div class="comment-content">
                <div class="comment-content-row">
                    <em>@comment.Author</em> on @comment.DatePosted:
                </div>
                <div class="comment-content-row">
                    @(!comment.Deleted ? comment.BodySanitized : "[deleted]")
                </div>
                <div class="comment-content-row controls-row">
                    @if (loggedIn)
                    {
                        @:<a href="#" class="report-link" data-item="@comment.ID">Report</a> | <a href="#" data-to="@comment.ID">Reply</a> |
                    }
                    <a href="/p/@comment.PuzzleID?c=@comment.ID">Permalink</a>
                    @if (Model.Item3)
                    {
                        @:| <a href="#" class="mod-link" data-action="Delete" data-commentid="@comment.ID">Delete</a>
                    }
                </div>
                <div class="comment-content-row" id="to-@comment.ID" style="display:none;">
                    <textarea></textarea><br>
                    <a href="#" class="send-reply">Send</a> or <a href="#" class="cancel-reply">Cancel</a>
                </div>
            </div>
        </div>
    }
}