@section Title {Report list}
@using ChessVariantsTraining.Models
@using ChessVariantsTraining.Extensions
@model Tuple<List<Report>, Dictionary<int, User>>
@section AddToHead {
    <script type="text/javascript" src="@Url.ContentWithAssetVersion("~/scripts/reports.js")"></script>
}
<h1>Report list</h1>
<table class="full-width align-left five-columns">
    <thead>
        <tr>
            <th>Reporter</th>
            <th>Reported</th>
            <th>Reason</th>
            <th>Helpful</th>
            <th>Decline</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Report report in Model.Item1)
        {
            <tr>
                <td>@Model.Item2[report.Reporter].Username</td>
                <td>@report.Reported</td>
                <td>@report.Reason: @report.ReasonExplanation</td>
                <td><a href="#" data-reportid="@report.ID" data-judgement="helpful">Helpful</a></td>
                <td><a href="#" data-reportid="@report.ID" data-judgement="declined">Decline</a></td>
            </tr>
        }
    </tbody>
</table>