@model ChessVariantsTraining.ViewModels.Game
@section Title{Play Variant960}
@section AddToHead {
    <script type="text/javascript" src="@Url.Content("~/scripts/chessground.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/chessground-extensions.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/variant960/game.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/styles/chessground-base.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/styles/chessground-theme.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/styles/variant960/game.css")" type="text/css" />
    <script type="text/javascript">
        main("@Model.FEN",@Model.IsPlayer.ToString().ToLowerInvariant(),"@Model.MyColor","@Model.WhoseTurn",@Model.IsFinished.ToString().ToLowerInvariant(),@Html.Raw(@Model.DestsJSON),"@Url.Action("GameSocket", "Socket", new { id = Model.GameID }, "wss")");
    </script>
}
<div id="ground-container">
    <div id="chat-box">
        Chat goes here
    </div>
    <div>
        <div id="chessground" class="brown"></div>
    </div>
    <div id="next-to-ground">
        <p>White: @Model.RenderWhiteLink(Url)<br>Black: @Model.RenderBlackLink(Url)</p>
        <p>Variant: @Model.Variant</p>
        <p>Time control: @Model.TimeControl</p>
        <p><em id="game-result"></em></p>
    </div>
</div>
