@model ChessVariantsTraining.ViewModels.Game
@using ChessVariantsTraining.Extensions
@section Title{Play Variant960}
@section AddToHead {
    <script type="text/javascript" src="@Url.ContentWithAssetVersion("~/scripts/chessground.min.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithAssetVersion("~/scripts/chessground-extensions.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithAssetVersion("~/scripts/variant960/game.js?av=3")"></script>
    <link rel="stylesheet" href="@Url.ContentWithAssetVersion("~/styles/chessground-base.css")" type="text/css">
    <link rel="stylesheet" href="@Url.ContentWithAssetVersion("~/styles/chessground-theme.css")" type="text/css">
    <link rel="stylesheet" href="@Url.ContentWithAssetVersion("~/styles/variant960/game.css?av=3")" type="text/css" />
    <script type="text/javascript">
        main("@Model.FEN",@Model.IsPlayer.ToString().ToLowerInvariant(),"@Model.MyColor","@Model.WhoseTurn",@Model.IsFinished.ToString().ToLowerInvariant(),@Html.Raw(@Model.DestsJSON),@Model.RenderLastMoveAsArray(),@Model.RenderCheckingSquare(),"@Url.Action("GameSocket", "Socket", new { id = Model.GameID }, "wss")","@Model.ShortVariant");
    </script>
}
<div id="ground-container">
    <div id="chat-box">
        <div id="chat-header">
        @if (Model.IsPlayer && Model.IsFinished)
        {
            @:<a href="#" id="switch-to-players" class="selected-chat">Players' chat</a> | <a href="#" id="switch-to-spectators">Spectators' chat</a>
        }
        else if (Model.IsPlayer)
        {
            <b>Players' chat</b>
        }
        else
        {
            <b>Spectators' chat</b>
        }
        </div>
        <div id="chat-content"></div>
        <input type="text" id="chat-input" placeholder="Type in chat">
    </div>
    <div>
        <div id="chessground" class="brown"></div>
    </div>
    <div id="next-to-ground">
        <p>@Model.RenderWhiteText() @Model.RenderWhiteLink(Url)<br>@Model.RenderBlackText() @Model.RenderBlackLink(Url)</p>
        <p>White clock: <span id="white-clock"></span><br>Black clock: <span id="black-clock"></span></p>
        <p>Variant: @Model.Variant</p>
        <p>Time control: @Model.TimeControl</p>
        <p id="additional-info"></p>
        <p><em>Result: </em><em id="game-result">@ChessVariantsTraining.Models.Variant960.Game.Results.ToFriendlyString(Model.Result)</em><br><em>Termination: </em><em id="game-termination">@Model.Termination</em></p>
        @if (Model.IsPlayer)
        {
            @if (Model.Plies < 2)
            {
                <p><a href="#" id="abort-link">Abort</a></p>
            }
            @if (!Model.IsFinished)
            {
                @if (!Model.WhiteWantsDraw && !Model.BlackWantsDraw)
                {
                    <p id="draw-offer">
                        <a href="#" id="draw-offer-link">Offer draw</a>
                    </p>
                    <p id="draw-offer-sent" class="nodisplay">
                        Draw offer sent.
                    </p>
                    <p id="draw-offer-received" class="nodisplay">
                        <a href="#" id="draw-accept">Accept draw</a> | <a href="#" id="draw-decline">Decline draw</a>
                    </p>
                }
                else if ((Model.WhiteWantsDraw && Model.MyColor == "white") || (Model.BlackWantsDraw && Model.MyColor == "black"))
                {
                    <p id="draw-offer" class="nodisplay">
                        <a href="#" id="draw-offer-link">Offer draw</a>
                    </p>
                    <p id="draw-offer-sent">
                        Draw offer sent.
                    </p>
                    <p id="draw-offer-received" class="nodisplay">
                        <a href="#" id="draw-accept">Accept draw</a> | <a href="#" id="draw-decline">Decline draw</a>
                    </p>
                }
                else
                {
                    <p id="draw-offer" class="nodisplay">
                        <a href="#" id="draw-offer-link">Offer draw</a>
                    </p>
                    <p id="draw-offer-sent" class="nodisplay">
                        Draw offer sent.
                    </p>
                    <p id="draw-offer-received">
                        <a href="#" id="draw-accept">Accept draw</a> | <a href="#" id="draw-decline">Decline draw</a>
                    </p>
                }
                <p><a href="#" id="resign-link">Resign</a></p>
                <div id="rematch-offer" class="nodisplay"><a href="#" id="rematch-offer-link">Offer rematch</a></div>
                <div id="rematch-offer-sent" class="nodisplay">Rematch offer sent. <a href="#" id="rematch-cancel">Cancel</a></div>
                <div id="rematch-offer-received" class="nodisplay">
                    Rematch offered<br>
                    <a href="#" id="rematch-accept">Accept rematch</a> | <a href="#" id="rematch-decline">Decline rematch</a>
                </div>
                }
            else if (!Model.WhiteWantsRematch && !Model.BlackWantsRematch)
            {
            <div id="rematch-offer"><a href="#" id="rematch-offer-link">Offer rematch</a></div>
            <div id="rematch-offer-sent" class="nodisplay">Rematch offer sent. <a href="#" id="rematch-cancel">Cancel</a></div>
            <div id="rematch-offer-received" class="nodisplay">
                Rematch offered<br>
                <a href="#" id="rematch-accept">Accept rematch</a> | <a href="#" id="rematch-decline">Decline rematch</a>
            </div>
            }
            else if ((Model.WhiteWantsRematch && Model.MyColor == "white") || (Model.BlackWantsRematch && Model.MyColor == "black"))
            {
            <div id="rematch-offer" class="nodisplay"><a href="#" id="rematch-offer-link">Offer rematch</a></div>
            <div id="rematch-offer-sent">Rematch offer sent. <a href="#" id="rematch-cancel">Cancel</a></div>
            <div id="rematch-offer-received" class="nodisplay">
                Rematch offered<br>
                <a href="#" id="rematch-accept">Accept rematch</a> | <a href="#" id="rematch-decline">Decline rematch</a>
            </div>
            }
            else
            {
                <div id="rematch-offer" class="nodisplay"><a href="#" id="rematch-offer-link">Offer rematch</a></div>
                <div id="rematch-offer-sent" class="nodisplay">Rematch offer sent. <a href="#" id="rematch-cancel">Cancel</a></div>
                <div id="rematch-offer-received">
                    Rematch offered<br>
                    <a href="#" id="rematch-accept">Accept rematch</a> | <a href="#" id="rematch-decline">Decline rematch</a>
                </div>
            }
        }
        <p><a id="view-rematch" class="nodisplay">View rematch</a></p>
    </div>
</div>
