@section Title{Puzzle editor}
@section AddToHead {
    <script type="text/javascript" src="@Url.Content("~/scripts/chessground.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/chessground-extensions.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/puzzleeditor.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/styles/chessground-base.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/styles/chessground-theme.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/styles/puzzleeditor.css")" type="text/css">
}
<p class="step1">Step one: set up the board.</p>
<p class="step2 hidden">Step two: set up the puzzle moves.</p>
<div id="chessground" class="brown"></div>
<div class="step1">
    <div class="selectable" data-color="white" data-role="pawn"></div>
    <div class="selectable" data-color="white" data-role="knight"></div>
    <div class="selectable" data-color="white" data-role="bishop"></div>
    <div class="selectable" data-color="white" data-role="rook"></div>
    <div class="selectable" data-color="white" data-role="queen"></div>
    <div class="selectable" data-color="white" data-role="king"></div>
    <a href="#" id="clearselection">Clear selection</a><br>
    <div class="selectable" data-color="black" data-role="pawn"></div>
    <div class="selectable" data-color="black" data-role="knight"></div>
    <div class="selectable" data-color="black" data-role="bishop"></div>
    <div class="selectable" data-color="black" data-role="rook"></div>
    <div class="selectable" data-color="black" data-role="queen"></div>
    <div class="selectable" data-color="black" data-role="king"></div>
</div>
<p class="step1">
    <input type="radio" name="whoseturn" value="white" id="whitetomove" checked>White to move
    <input type="radio" name="whoseturn" value="black">Black to move
</p>
<p class="step1">
    <input type="checkbox" id="whitecastlekingside" name="castling" checked>White O-O
    <input type="checkbox" id="whitecastlequeenside" name="castling" checked>White O-O-O
    <br>
    <input type="checkbox" id="blackcastlekingside" name="castling" checked>Black O-O
    <input type="checkbox" id="blackcastlequeenside" name="castling" checked>Black O-O-O
</p>
<p class="step1">
    <select id="variantSelector">
        <option value="none">Select a variant...</option>
        <option value="Antichess">Antichess</option>
        <option value="Atomic">Atomic</option>
        <option value="Horde">Horde</option>
        <option value="KingOfTheHill">King of the Hill</option>
        <option value="RacingKings">Racing Kings</option>
        <option value="ThreeCheck">Three-check</option>
    </select>
</p>
<p class="step1">FEN: <code id="fen"></code></p>
<p class="step2 hidden">
    Accepted variations:
</p>
<ol class="step2 hidden" id="variations">
    <li>
        <code id="movelist-0"></code>
    </li>
</ol>
<p class="step2 hidden"><a href="#" id="addVariation">Add other accepted variation</a></p>
<div class="step2 hidden">Add an explanation for your puzzle here:<br><textarea id="puzzleExplanation"></textarea></div>
<a href="#" id="gotostep2" class="step1">Done, let me set up the puzzle moves.</a>
<a href="#" id="submitpuzzle" class="step2 hidden">Publish!</a>