@using ChessVariantsTraining.Extensions
@section Title{Puzzle editor}
@section AddToHead {
    <script type="text/javascript" src="@Url.ContentWithAssetVersion("~/scripts/chessground.min.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithAssetVersion("~/scripts/chessground-extensions.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithAssetVersion("~/scripts/puzzleeditor.js")"></script>
    <link rel="stylesheet" href="@Url.ContentWithAssetVersion("~/styles/chessground-base.css")" type="text/css">
    <link rel="stylesheet" href="@Url.ContentWithAssetVersion("~/styles/chessground-theme.css")" type="text/css">
    <link rel="stylesheet" href="@Url.ContentWithAssetVersion("~/styles/puzzleeditor.css")" type="text/css">
}
<p class="step1">Step one: set up the board.</p>
<p class="step2 hidden">Step two: set up the puzzle moves.</p>
<div id="ground-container">
    <div id="chessground" class="brown"></div>
    <div id="next-to-ground">
        <div id="pocket-no-zh">For a Crazyhouse puzzle, select the 'Crazyhouse' variant first, and then the crazyhouse pockets will appear here.</div>
        <div id="pocket-zh" class="nodisplay">
            <table class="pocket-table">
                <tr>
                    <td><div data-color="black" data-role="pawn" class="pocket-piece"></div></td>
                    <td><div data-color="black" data-role="knight" class="pocket-piece"></div></td>
                    <td><div data-color="black" data-role="bishop" class="pocket-piece"></div></td>
                    <td><div data-color="black" data-role="rook" class="pocket-piece"></div></td>
                    <td><div data-color="black" data-role="queen" class="pocket-piece"></div></td>
                </tr>
                <tr class="center-cells">
                    <td><span data-counter-for="black-pawn">0</span></td>
                    <td><span data-counter-for="black-knight">0</span></td>
                    <td><span data-counter-for="black-bishop">0</span></td>
                    <td><span data-counter-for="black-rook">0</span></td>
                    <td><span data-counter-for="black-queen">0</span></td>
                </tr>
                <tr class="center-cells">
                    <td><button data-action="inc" data-piece="black-pawn">+</button></td>
                    <td><button data-action="inc" data-piece="black-knight">+</button></td>
                    <td><button data-action="inc" data-piece="black-bishop">+</button></td>
                    <td><button data-action="inc" data-piece="black-rook">+</button></td>
                    <td><button data-action="inc" data-piece="black-queen">+</button></td>
                </tr>
                <tr class="center-cells">
                    <td><button data-action="dec" data-piece="black-pawn">-</button></td>
                    <td><button data-action="dec" data-piece="black-knight">-</button></td>
                    <td><button data-action="dec" data-piece="black-bishop">-</button></td>
                    <td><button data-action="dec" data-piece="black-rook">-</button></td>
                    <td><button data-action="dec" data-piece="black-queen">-</button></td>
                </tr>
            </table>
            <table class="pocket-table">
            <tr>
                <td><div data-color="white" data-role="pawn" class="pocket-piece"></div></td>
                <td><div data-color="white" data-role="knight" class="pocket-piece"></div></td>
                <td><div data-color="white" data-role="bishop" class="pocket-piece"></div></td>
                <td><div data-color="white" data-role="rook" class="pocket-piece"></div></td>
                <td><div data-color="white" data-role="queen" class="pocket-piece"></div></td>
            </tr>
                <tr class="center-cells">
                    <td><span data-counter-for="white-pawn">0</span></td>
                    <td><span data-counter-for="white-knight">0</span></td>
                    <td><span data-counter-for="white-bishop">0</span></td>
                    <td><span data-counter-for="white-rook">0</span></td>
                    <td><span data-counter-for="white-queen">0</span></td>
                </tr>
                <tr class="center-cells">
                    <td><button data-action="inc" data-piece="white-pawn">+</button></td>
                    <td><button data-action="inc" data-piece="white-knight">+</button></td>
                    <td><button data-action="inc" data-piece="white-bishop">+</button></td>
                    <td><button data-action="inc" data-piece="white-rook">+</button></td>
                    <td><button data-action="inc" data-piece="white-queen">+</button></td>
                </tr>
                <tr class="center-cells">
                    <td><button data-action="dec" data-piece="white-pawn">-</button></td>
                    <td><button data-action="dec" data-piece="white-knight">-</button></td>
                    <td><button data-action="dec" data-piece="white-bishop">-</button></td>
                    <td><button data-action="dec" data-piece="white-rook">-</button></td>
                    <td><button data-action="dec" data-piece="white-queen">-</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="step1">
    <div class="selectable" data-color="white" data-role="pawn"></div>
    <div class="selectable" data-color="white" data-role="knight"></div>
    <div class="selectable" data-color="white" data-role="bishop"></div>
    <div class="selectable" data-color="white" data-role="rook"></div>
    <div class="selectable" data-color="white" data-role="queen"></div>
    <div class="selectable" data-color="white" data-role="king"></div>
    <a href="#" id="clearselection">Clear selection</a><br>
    <div class="selectable" data-color="black" data-role="pawn"></div>
    <div class="selectable" data-color="black" data-role="knight"></div>
    <div class="selectable" data-color="black" data-role="bishop"></div>
    <div class="selectable" data-color="black" data-role="rook"></div>
    <div class="selectable" data-color="black" data-role="queen"></div>
    <div class="selectable" data-color="black" data-role="king"></div>
</div>
<p class="step1">
    <input type="radio" name="whoseturn" value="white" id="whitetomove" checked>White to move
    <input type="radio" name="whoseturn" value="black" id="blacktomove">Black to move
</p>
<p class="step1">
    <input type="checkbox" id="whitecastlekingside" name="castling" checked>White O-O
    <input type="checkbox" id="whitecastlequeenside" name="castling" checked>White O-O-O
    <br>
    <input type="checkbox" id="blackcastlekingside" name="castling" checked>Black O-O
    <input type="checkbox" id="blackcastlequeenside" name="castling" checked>Black O-O-O
</p>
<p class="step1">
    <select id="variantSelector">
        <option value="none">Select a variant...</option>
        <option value="Antichess">Antichess</option>
        <option value="Atomic">Atomic</option>
        <option value="Crazyhouse">Crazyhouse</option>
        <option value="Horde">Horde</option>
        <option value="KingOfTheHill">King of the Hill</option>
        <option value="RacingKings">Racing Kings</option>
        <option value="ThreeCheck">Three-check</option>
    </select>
</p>
<p class="step1"><a id="clearboard" href="#">Clear board</a></p>
<p class="step1">... or input FEN: <input type="text" id="fenInput" size="80">&nbsp;<a href="#" id="applyFenInput">Apply</a></p>
<p class="step1">FEN: <code id="fen"></code></p>
<p class="step2 hidden">
    Accepted variations:
</p>
<ol class="step2 hidden" id="variations">
    <li></li>
</ol>
<p class="step2 hidden"><a href="#" id="addVariation">Add other accepted variation</a></p>
<p class="step2 hidden"><a href="#" id="deleteVariation">Delete variation</a> <input type="number" id="variationToDelete" value="1"></p>
<div class="step2 hidden">Add an explanation for your puzzle here:<br><textarea id="puzzleExplanation"></textarea></div>
<a href="#" id="gotostep2" class="step1">Done, let me set up the puzzle moves.</a>
<a href="#" id="submitpuzzle" class="step2 hidden">Publish!</a>