@section Title {Puzzles start page}
Choose one of the variants!
<ul>
    <li>@Html.ActionLink("Antichess", "Train", "Puzzle", new { variant = "Antichess" }, null)</li>
    <li>@Html.ActionLink("Atomic", "Train", "Puzzle", new { variant = "Atomic" }, null)</li>
    <li>@Html.ActionLink("Horde", "Train", "Puzzle", new { variant = "Horde" })</li>
    <li>@Html.ActionLink("King of the Hill", "Train", "Puzzle", new { variant = "KingOfTheHill" }, null)</li>
    <li>@Html.ActionLink("Three-check", "Train", "Puzzle", new { variant = "ThreeCheck" }, null)</li>
    <li>@Html.ActionLink("Racing Kings", "Train", "Puzzle", new { variant = "RacingKings" }, null)</li>
    <li>@Html.ActionLink("Mixed (puzzles of all variants)", "Train", "Puzzle", new { variant = "Mixed" }, null)</li>
</ul>
... or go to:
<ul>
    <li>@Html.ActionLink("Timed training", "Index", "TimedTraining")</li>
    <li>@Html.ActionLink("Endgame training", "Index", "Endgames")</li>
</ul>
