@using ChessVariantsTraining.Models
@using ChessVariantsTraining.Extensions
@model Puzzle
@inject ChessVariantsTraining.Services.IPersistentLoginHandler loginHandler
@section Title {
    @if (Model != null && Model.InReview)
    {
        @:Puzzle review
    }
    else
    {
        @:Puzzle training
    }
}
@section Description{Improve your tactics by solving chess variant puzzles!}
@{ User loggedInUser = await loginHandler.LoggedInUserAsync(Context);
    bool loggedIn = loggedInUser != null;
    bool isTagger = loggedIn && UserRole.HasAtLeastThePrivilegesOf(loggedInUser.Roles, UserRole.PUZZLE_TAGGER);
    bool isReviewer = loggedIn && UserRole.HasAtLeastThePrivilegesOf(loggedInUser.Roles, UserRole.PUZZLE_REVIEWER);
    bool isEditor = loggedIn && UserRole.HasAtLeastThePrivilegesOf(loggedInUser.Roles, UserRole.PUZZLE_EDITOR);
    bool isAuthor = loggedIn && Model != null && Model.Author == loggedInUser.ID;
    bool isReviewerOrAuthor = isReviewer || isAuthor;
    bool immediatelyShowComments = Model != null && (isAuthor || Context.Request.Query.ContainsKey("comment") || (isReviewer && Model.InReview));
}
@if (Model != null && Model.InReview && !isReviewerOrAuthor)
{
    @:This puzzle is still in review.
    return;
}
@if (Model != null && !Model.Approved && !isReviewerOrAuthor)
{
    @:This puzzle has been rejected.
    return;
}
@section AddToHead {
    <script type="text/javascript" src="@Url.ContentWithAssetVersion("~/scripts/chessground.min.js")"></script>
    @if (Model != null)
    {
        <script type="text/javascript">window.selectedPuzzle = "@Model.ID";</script>
    }
    @if (Model != null && isReviewer)
    {
        <script type="text/javascript" src="/scripts/puzzlereview.js"></script>
    }
    <script type="text/javascript">window.immediatelyShowComments = @immediatelyShowComments.ToString().ToLowerInvariant();</script>
    <script type="text/javascript">window.variant = "@ViewBag.Variant";</script>
    <script type="text/javascript" src="@Url.ContentWithAssetVersion("~/scripts/chessground-extensions.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithAssetVersion("~/scripts/puzzletrain.js")"></script>
    <link rel="stylesheet" href="@Url.ContentWithAssetVersion("~/styles/chessground-base.css")" type="text/css">
    <link rel="stylesheet" href="@Url.ContentWithAssetVersion("~/styles/chessground-theme.css")" type="text/css">
    <link rel="stylesheet" href="@Url.ContentWithAssetVersion("~/styles/puzzletrain.css")" type="text/css">
    <link rel="stylesheet" href="@Url.ContentWithAssetVersion("~/styles/puzzleeditor.css")" type="text/css">
    <link rel="stylesheet" href="@Url.ContentWithAssetVersion("~/styles/controls.css")" type="text/css">
}
@if (Model != null && Model.InReview)
{
    <p><strong>This puzzle is in review.</strong></p>
}
@if (Model != null && !Model.InReview && !Model.Approved)
{
    <p><strong>This puzzle has been rejected.</strong></p>
}
<div id="ground-container">
    <div>
        <div id="chessground" class="brown"></div>
        <div id="controls" class="nodisplay">
            <div id="controls-begin">|&lt;&lt;</div>
            <div id="controls-prev">|&lt;</div>
            <div id="controls-next">&gt;|</div>
            <div id="controls-end">&gt;&gt;|</div>
        </div>
    </div>
    <div id="next-to-ground">
        <div id="pocket-zh" class="nodisplay">
            <table class="pocket-table">
                <tr>
                    <td><div data-color="black" data-role="pawn" class="pocket-piece"></div></td>
                    <td><div data-color="black" data-role="knight" class="pocket-piece"></div></td>
                    <td><div data-color="black" data-role="bishop" class="pocket-piece"></div></td>
                    <td><div data-color="black" data-role="rook" class="pocket-piece"></div></td>
                    <td><div data-color="black" data-role="queen" class="pocket-piece"></div></td>
                </tr>
                <tr class="center-cells">
                    <td><span data-counter-for="black-pawn">0</span></td>
                    <td><span data-counter-for="black-knight">0</span></td>
                    <td><span data-counter-for="black-bishop">0</span></td>
                    <td><span data-counter-for="black-rook">0</span></td>
                    <td><span data-counter-for="black-queen">0</span></td>
                </tr>
            </table>
            <table class="pocket-table">
                <tr>
                    <td><div data-color="white" data-role="pawn" class="pocket-piece"></div></td>
                    <td><div data-color="white" data-role="knight" class="pocket-piece"></div></td>
                    <td><div data-color="white" data-role="bishop" class="pocket-piece"></div></td>
                    <td><div data-color="white" data-role="rook" class="pocket-piece"></div></td>
                    <td><div data-color="white" data-role="queen" class="pocket-piece"></div></td>
                </tr>
                <tr class="center-cells">
                    <td><span data-counter-for="white-pawn">0</span></td>
                    <td><span data-counter-for="white-knight">0</span></td>
                    <td><span data-counter-for="white-bishop">0</span></td>
                    <td><span data-counter-for="white-rook">0</span></td>
                    <td><span data-counter-for="white-queen">0</span></td>
                </tr>
            </table>
        </div>
        <div id="next-to-ground-inner">
            <div id="result"></div>
            <p>Created by <a id="author"></a></p>
            <p>Variant: <span id="variantName"></span></p>
            <p>Color to play: <span id="colorToPlay"></span></p>
            <p><a id="permalink">Permalink</a></p>
            <p id="puzzleRating"></p>
            <p id="additionalInfo"></p>
            <p id="explanation" class="nodisplay">Explanation: <a href="#" id="toggleExplanationLink">[show]</a> <span id="explanationInner" class="nodisplay"></span></p>
            <p id="ratingChange"></p>
            <p id="analysis-board-p"><a id="analysis-board-link" target="_blank" href="#">Analysis board</a></p>
            <p id="puzzleLinkContainer" class="nodisplay">
                @if (Model == null)
                {
                    <a href="#" id="nextPuzzleLink">Next puzzle</a>
                }
                else
                {
                    @Html.ActionLink("Next puzzle", "Train", "Puzzle", new { variant = ViewBag.Variant }, new { id = "nextPuzzleLink" })
                }
                | <a href="#" id="retryPuzzleLink">Retry puzzle</a>
            </p>
            @if (loggedIn)
            {
                <p id="reportLinkContainer" class="nodisplay">
                    <a href="#" id="reportPuzzleLink">Report puzzle</a>
                </p>
            }
        </div>
        @if (loggedIn)
        {
            <div id="reportDialogContainer">
            </div>
        }
    </div>
</div>
<div id="tag-container">
<p>
<strong>Tags: </strong><span id="puzzle-tags"></span>
</p>
@if (isTagger)
{
     <p>
     Edit tags (comma-separated, Enter to submit): <input id="retag">
     </p>
}
</div>
@if (Model != null && isReviewer)
{
    @if (Model.InReview)
    {
        <p data-object="@Model.ID">
            <a href="#" id="approve-puzzle">Approve</a> | <a href="#" id="reject-puzzle">Reject</a>
        </p>
    }
    else if (isEditor)
    {
        <p data-object="@Model.ID">
            @if (Model.Approved)
            {
                <a href="#" id="reject-puzzle">Disable</a>
            }
            else
            {
                <a href="#" id="approve-puzzle">Still approve</a>
            }
        </p>
    }
}
@if (loggedIn)
{
    @:Leave a comment:<br>
    <textarea name="commentBody" id="commentBody"></textarea>
    <a href="#" id="submitCommentLink">Submit</a>
}
else
{
    @:You need to be logged in to submit a comment.
}
<p>@(immediatelyShowComments ? "Comments:" : "Comments (shown after your puzzle attempt):")</p>
<div id="commentContainer"></div>
