@model AtomicChessPuzzles.Models.Puzzle
@section Title {Puzzle training}
@section AddToHead {
    <script type="text/javascript" src="@Url.Content("~/scripts/chessground.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/puzzletrain.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/styles/chessground-base.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/styles/chessground-theme.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/styles/puzzletrain.css")" type="text/css">
}

<div id="chessground" class="brown"></div>
<p>
    Created by <span id="author"></span>
</p>
<div id="result"></div>
<p id="explanation"></p>
Leave a comment:<br>
<textarea name="commentBody" id="commentBody"></textarea>
<a href="#" id="submitCommentLink">Submit</a>
<p>Comments:</p>
<div id="commentContainer"></div>
