@using Microsoft.AspNet.Http;
@model AtomicChessPuzzles.Models.Puzzle
@section Title {
    @if (Model != null && Model.InReview)
    {
        @:Puzzle review
    }
    else
    {
        @:Puzzle training
    }
}
@section AddToHead {
    <script type="text/javascript" src="@Url.Content("~/scripts/chessground.min.js")"></script>
    @if (Model != null)
    {
        <script type="text/javascript">window.selectedPuzzle = "@Model.ID";</script>
    }
    @if (Model != null && Model.InReview)
    {
        <script type="text/javascript" src="/scripts/puzzlereview.js"></script>
    }
    <script type="text/javascript" src="@Url.Content("~/scripts/chessground-extensions.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/puzzletrain.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/styles/chessground-base.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/styles/chessground-theme.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/styles/puzzletrain.css")" type="text/css">
}
<div id="ground-container">
    <div id="chessground" class="brown"></div>
    <div id="next-to-ground">
        <div id="result"></div>
    </div>
</div>
<p>
    Created by <span id="author"></span>
</p>
@if (Model != null && Model.InReview)
{
    <p data-object="@Model.ID">
        <a href="#" id="approve-puzzle">Approve</a> | <a href="#" id="reject-puzzle">Reject</a>
    </p>
}
@if (Model == null)
{
    <a href="#" id="nextPuzzleLink">Next puzzle</a>
}
else
{
    @Html.ActionLink("Next puzzle", "Train", "Puzzle", null, new { id = "nextPuzzleLink" })
}
<p id="explanation"></p>
@if (Context.Session.GetString("userid") != null)
{
    @:Leave a comment:<br>
    <textarea name="commentBody" id="commentBody"></textarea>
    <a href="#" id="submitCommentLink">Submit</a>
}
else
{
    @:You need to be logged in to submit a comment.
}
<p>Comments:</p>
<div id="commentContainer"></div>
