@section Title{Timed practice: mate in one}
@section AddToHead {
    <script type="text/javascript" src="@Url.Content("~/scripts/chessground.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/mate-in-one-train.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/styles/mate-in-one-train.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/styles/chessground-base.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/styles/chessground-theme.css")" type="text/css">
}

<span href="#" id="start-training" class="start-link above-ground">Start!</span>
<div id="chessground" class="brown"></div>
<span id="score">Score: 0</span>
